body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #d11717c2; /* Changed to red */
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.guitar-image-container {
  text-align: center;
  margin: 30px 0;
}

.guitar-image {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  height: auto;
  border-radius: 12px;
  width: 300px; /* Fixed width */
  height: 300px; /* Fixed height */
  object-fit: cover; /* Ensures the image fits within the dimensions */
}

.guitar-image-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 15px 0;
  color: #d11717c2; /* Changed to red */
}

.guitar-image-caption {
  font-size: 1.2rem;
  color: #000000;
  margin: 10px 0;
}